%h1#nav_title Ships

#container
  #dashboard
    %p.instructions Click a ship to select
    #ships
    #rotate
      %a{href: ""}
        Rotate
        = image_tag "rotate.png", class: 'rotate-img'
  #left
  #right
