#container {
  margin: 0 auto;
  width: 1400px;
  height: 700px;

  #ships {
    .size_5 {
      width: 270px;
    }
    .size_4 {
      width: 215px;
    }
    .size_3 {
      width: 165px;
    }
    .size_3 {
      width: 165px;
    }
    .size_2 {
      width: 115px;
    }
    .ship {
      display: inline-block;
      .hover {
        background: red;
      }
      .selected {
        background: blue;
      }
    }
    button {
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      border-radius: 0px;

      &.with_margin {
        margin-left: -4px;
      }
    }
  }

  #left, #right {
    width: 700px;
    height: 550px;

    .playboard {
      margin: 0 auto;
      width: 506px;
      height: 506px;
      overflow: hidden;
      border: 3px solid #a1a1a1;

      button {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        border-color: #36B8E0;
        border-radius: 0px;
        border-style: dotted;
        float: left;
        background: rgba(0, 148, 255, 0.61);
        &:hover {
          background: #ddd;
        }
        &.hit {
          background: #000;
        }
        &.empty {
        }
        &.selected {
          background: #ddd;
        }
        &.placing_ship {
          background: #00FF0D;
          cursor: move;
        }
        &.placing_ship_unavailable {
          background: #FF3939;
          cursor: no-drop;
        }
        // place for a ship
        &.reserved {
          background: navy;
        }
        // place around a ship
        &.unavailable {
          background: rgb(244, 244, 244);
        }
      }
      &.highlighted {
        -webkit-box-shadow: 0px 0px 35px -1px rgba(0, 148, 255, 1);
        -moz-box-shadow:    0px 0px 35px -1px rgba(0, 148, 255, 1);
        box-shadow:         0px 0px 35px -1px rgba(0, 148, 255, 1);
      }
    }
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  #dashboard {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dotted black;
  }
}

#nav_title {
  margin: 0 0 25px 0;
  padding: 10px;
  text-align: center;
  background: rgb(126, 198, 220);
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  border-bottom: 2px solid rgb(89, 157, 178);
  text-transform: uppercase;
}
