// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  margin: 0 auto;
  width: 1400px;
  height: 700px;
  // .ship_5= button_tag "", class: "ship size-5", 'data-state' => 'inactive'
  #ships {
    .size_5 {
      width: 270px;
    }
    .size_4 {
      width: 215px;
    }
    .size_3 {
      width: 165px;
    }
    .size_3 {
      width: 165px;
    }
    .size_2 {
      width: 115px;
    }
    .ship {
      display: inline-block;
      .hover {
        background: red;
      }
      .selected {
        background: blue;
      }
    }
    button {
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      border-radius: 0px;

      &.with_margin {
        margin-left: -4px;
      }
    }
  }
  #rotate {
    display: none;
    img { width: 30px; }
  }
  #left, #right {
    width: 700px;
    height: 550px;

    .playboard {
      margin: 0 auto;
      width: 506px;
      height: 506px;
      overflow: hidden;
      border: 3px solid #599db2;

      button {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        border-color: #7ec6dc;
        border-radius: 0px;
        border-style: dotted;
        float: left;
        &:hover {
          background: #ddd;
        }
        &.hit {
          background: #000;
        }
        &.empty {
        }
        &.selected {
          background: #ddd;
        }
        &.placing_ship {
          background: #5677fc;
        }
        &.placing_ship_unavailable {
          background: #FF4A40;
        }
        &.placing_ship_border {
          background: #d0d9ff;
        }
        &.placing_ship_border_unavailable {
          background: #FFCFCA;
        }
        // place for a ship
        &.reserved {
          background: navy;
        }
        // place around a ship
        &.unavailable {
          background: gray;
        }
      }
      &.highlighted {
        -webkit-box-shadow: 0px 0px 7px 0px blue;
        -moz-box-shadow:    0px 0px 7px 0px blue;
        box-shadow:         0px 0px 7px 0px blue;
      }
    }
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  #dashboard {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dotted black;
  }
}

#nav_title {
  margin: 0 0 25px 0;
  padding: 10px;
  text-align: center;
  background: rgb(126, 198, 220);
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  border-bottom: 2px solid rgb(89, 157, 178);
  text-transform: uppercase;
}
